<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Formulário Cadastro de Musicas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;"> <a href="/musicas"><< Voltar</a> </span>
    </nav>
    <th:block th:include="errorMessage"></th:block>
</header>
<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <div>

            <form method="post">
                <div class="form-group">
                    <input type="texta" th:value="${musica.titulo}" class="form-control" name="titulo"
                           placeholder="Título *">
                </div>
                <div class="form-group">
                    <input type="text" th:value="${musica.autor}" class="form-control" name="autor"
                           placeholder="Autor *">
                </div>

                <textarea id="summernote" th:field="${musica.letra}" type="text" class="form-control" name="letra"
                          placeholder="Letra *"></textarea>

                <small class="form-text text-muted">(*) Campos obrigatórios</small>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Atualizar</button>
            </form>
        </div>
    </div>

</section>
</body>
</html>